/* Body */

 .container {
	 position: fixed;
	 /* border-radius: 3vw; */
	 position: relative;
	 height: 200px;
	 height: min-content;
	 /* padding: 2rem; */
	 display: flex;
	 justify-content: flex-start;
	 flex-direction: column;
	 background: transparent;
	 /* border-radius: 8px; */
	 /* overflow: hidden; */
	 /* overflow: hidden; */

	 /* box-shadow: 0px 2px 5px 0px #5380f7; */
     /* height: 150px; */
	 /* top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%); */
}
 .btn {
	 outline: 0;
	 display: inline-flex;
	 align-items: center;
	 justify-content: space-between;
	 background: #5380f7;
	 background: #003153;
	 color: #fff;
	 
	 width: 260px;
	 width: 100%;
	 height: 60px;
	 border: 0;
	 border-radius: 8px;
	 box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
	 box-sizing: border-box;
	 /* padding: 16px 20px; */
	 padding: 0;
	 font-size: 12px;
	 font-weight: 600;
	 letter-spacing: 1.2px;
	 text-transform: uppercase;
	 /* overflow: hidden; */
	 cursor: pointer;

	 
}
/* #countryPickerButton, #countryPickerButton:hover {
	border-radius: 50%;
	
} */
.btn:hover {
	filter: brightness(105%);
    color: rgba(0,0,0,0.55);
    color: #EB5E28;
    color: #003153;
	background: red;
	background: #F9F9FA;
	/* border-radius: 8px !important; */
}
/* .btn, .btn:hover, .btn:link, .btn:active, .btn:visited {
	border-radius: 8px !important;
} */
 .btns:focus .dropdown, .btns:active .dropdown {
	 transform: translate(0, 20px);
	 opacity: 1;
	 visibility: visible;
}
 .btn .material-icons {
	 border-radius: 100%;
	 animation: ripple 0.6s linear infinite;
	 
}
 .btn .country--selected {
	color: rgba(0, 49, 83, 0.91);
	color: white;
	 
}
 .btn:hover  .country--selected{
	color: rgb(235, 94, 40);
	
	 
}
 .btn:hover .material-icons {
	 
	 /* animation: rippleREV 0.6s linear infinite; */
	 color: rgb(235, 94, 40);
	 animation: rippleRED 0.6s linear infinite;
	 
	 
}

.btn .innerFrame {
	width: 100%;
	height: 50px;
	height: 100%;
	border-radius: 8px;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: transparent;
	overflow: hidden;
}

 .btn .dropdown {
	 position: absolute;
	 list-style-type: none;
	 top: 100%;
	 left: 0;
	 background: #fff;
	 width: 100%;
	 border-radius: 4px;
	 box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
	 text-align: left;
	 opacity: 0;
	 z-index: 10000;
	 visibility: hidden;
	 transition: 0.3s ease;
}
 .btn .dropdown:before { 
	 /* create Triangle here! */
	 content: '';
	 position: absolute;
	 top: -6px;
	 left: 120px;
	 width: 0;
	 height: 0;
	 box-shadow: 2px -2px 6px rgba(0, 0, 0, .05);
	 border-top: 6px solid #fff;
	 border-right: 6px solid #fff;
	 border-bottom: 6px solid transparent;
	 border-left: 6px solid transparent;
	 transform: rotate(-45deg);
	 mix-blend-mode: multiple;
}
 .btn .dropdown li {
	 z-index: 1;
	 position: relative;
	 background: #fff;
	 padding: 0 20px;
	 color: #666;
}
 .btn .dropdown li.active {
	 color: #5380f7;
}
 .btn .dropdown li:first-child {
	 border-radius: 4px 4px 0 0;
}
 .btn .dropdown li:last-child {
	 border-radius: 0 0 4px 4px;
}
 .btn .dropdown li:last-child a {
	 border-bottom: 0;
}
 .btn .dropdown a {
	 display: block;
	 border-bottom: 1px solid rgba(0, 0, 0, .05);
	 padding: 16px 0;
	 color: inherit;
	 font-size: 10px;
	 text-decoration: none;
}
 @keyframes ripple {
	 0% {
		 box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
	}
	 100% {
		 box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
	}
}
 @keyframes rippleREV {
	 0% {
		 box-shadow: 0 0 0 0 rgba(0, 49, 83, 0.91), 0 0 0 20px rgba(0, 49, 83, 0.61), 0 0 0 40px rgba(0, 49, 83, 0.31), 0 0 0 60px rgba(0, 49, 83, 0.11);
	}
	 100% {
		 box-shadow: 0 0 0 20px rgba(0, 49, 83, 0.91), 0 0 0 40px rgba(0, 49, 83, 0.61), 0 0 0 60px rgba(0, 49, 83, 0.31), 0 0 0 80px rgba(0, 49, 83, 0);
	}
}
 @keyframes rippleRED {
	 0% {
		 box-shadow: 0 0 0 0 rgba(235, 94, 40, 0.91), 0 0 0 20px rgba(235, 94, 40, 0.61), 0 0 0 40px rgba(235, 94, 40, 0.31), 0 0 0 60px rgba(235, 94, 40, 0.11);
	}
	 100% {
		 box-shadow: 0 0 0 20px rgba(235, 94, 40, 0.91), 0 0 0 40px rgba(235, 94, 40, 0.61), 0 0 0 60px rgba(235, 94, 40, 0.31), 0 0 0 80px rgba(235, 94, 40, 0);
	}
}
 /* @keyframes rippleREV {
	 0% {
		 box-shadow: 0 0 0 0 rgba(0, 49, 83, 1), 0 0 0 20px rgba(0, 49, 83, 0.71), 0 0 0 40px rgba(0, 49, 83, 0.51), 0 0 0 60px rgba(0, 49, 83, 0.11);
	}
	 100% {
		 box-shadow: 0 0 0 20px rgba(0, 49, 83, 1), 0 0 0 40px rgba(0, 49, 83, 0.71), 0 0 0 60px rgba(0, 49, 83, 0.51), 0 0 0 80px rgba(0, 49, 83, 0.11);
	}
}
  */